.box {
  width: 150px;
  height: 100px;
  background-color: tomato;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin: 10px;
}

.box1 {
  width: 200px;
  height: 200px;
  background-color: violet;
  clear: both; /* float:left or float:right 둘 다 해제 */
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: red;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
