/* background 이미지 변경

    0 ~ 320px : bg3.jpg
    321 ~ 768 : bg2.jpg
    769 ~ 1024 : bg1.jpg
    1025 ~  : bg0.jpg

    0 ~ 480px : 스마트폰
    481 ~ 767 : 저해상도 태블릿
    768 ~ 1024 : 태블릿 세로화면
    1025 ~ 1280 : 태블릿 가로, 노트북, pc 화면
    1281 ~ : 노트북, pc 화면
*/

body {
  /* background-image: url(../images/bg0.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; */
  background: url(../images/bg0.jpg) no-repeat fixed;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  body {
    background: url(../images/bg1.jpg) no-repeat fixed;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  body {
    background: url(../images/bg2.jpg) no-repeat fixed;
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  body {
    background: url(../images/bg3.jpg) no-repeat fixed;
    background-size: cover;
  }
}
