/* 반응형 웹 - midia 쿼리
min-width, max-width 를 조절
@media (max-width: 960px){}
@media (max-width: 481px) and (min-width: 767px){}
@media (min-width: 480px),(max-width: 767px){}
*/

* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100px;
  background-color: yellow;
}

@media screen and (max-width: 960px) {
  .container {
    background-color: blueviolet;
  }
}
@media screen and (max-width: 720px) {
  .container {
    background-color: yellowgreen;
  }
}
@media screen and (max-width: 540px) {
  .container {
    background-color: crimson;
  }
}
