body {
  text-align: center;
}

div {
  width: 200px;
  height: 200px;
  background-color: orangered;
  /* 좌우 남은 공간을 자동으로 채우는 방식 */
  /* margin: 0 auto; */
  display: inline-block;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.circle {
  /* 너비, 높이 300, 글자색 흰색, 글자크기 5em, 글자 가운데 정렬 */
  width: 300px;
  height: 300px;
  color: white;
  font-size: 5em;
  /* 수평 가운데 */
  /* text-align: center;  */
  /* 테두리 : 2px 실선 검정색 */
  border: 2px solid black;
  border-radius: 50%;
  /* border-radius: 10px 20px; */
  /* line-height: 300px; */
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
