/* width, height : auto(기본값), px, em, rem, vw, vh, %
    
    화면 기준으로 단위사용
    vw : wiewport width
    vh : viewport height

    블록요소(기본값)
    width : auto == 100%
    height : auto == 0
    
    max-width, min-width : width 속성을 재정의
    max-width : 부모가 늘어날때 자식도 같이 늘어나는데 자식의 최대한 크기 제한
    min-width : 부모가 줄어들더라도 자식에게 보장해야 하는 최소 넓이

    max-height, min-height
*/
* {
  padding: 0;
  margin: 0;
}

.parent {
  width: 100%;
  height: 300px;
  border: 1px solid red;
}
.child {
  width: 100%;
  max-width: 600px;
  min-width: 200px;
  height: 200px;
  background-color: orange;
}
