/* body에는 기본적으로 값이 들어가 있기에
0으로 초기화 하고 들어가는게 디자인 하기 편함.
 */
body {
  margin: 0;
  padding: 0;
}

ul > li {
  display: inline-block;
  margin-right: 2em;
  border-bottom: 2px dashed darkorange;
  /* border-width: 5px 10px;
  border-style: dashed dotted;
  border-color: darkorange, darkblue darkcyan; */
}

p {
  display: inline-block;
  /* 4방향 한번에 */
  /* margin: 8px; */
  /* 각각적용 */
  /* margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px; */
  /* 상,하 : 8px    좌,우 : 16px */
  /* margin: 8px 16px; */
  /* 시계방향 : 상:8px, 우:6px, 하:12px 좌:6px
    - ※좌의 경우 마주보는(우:6px)의 값을 따라감
   */
  margin: 8px 6px 12px;
  /* padding도 margin과 동일함. */
  /* 좌 8px */
  padding: 10px 8px 6px;
}
