* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: row;
}

.container div {
  margin: 0px 2px;
  width: 33.3%;
  height: 200px;
  background-color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}
