* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  border: 2px double darkcyan;
  width: 500px;
}

.container div {
  /* width: 100px; */
  height: 100px;
  border: 2px dashed black;
  flex-basis: 200px;
  /* display: inline-block; */
}

.container div:first-child {
  background-color: red;
  /* order: 1; */
  /* flex-grow: 1; */
  flex-shrink: 1;
}
.container div:nth-child(2) {
  background-color: orange;
  /* order: 2; */
  flex-shrink: 2;
}
.container div:nth-child(3) {
  background-color: yellow;
  /* flex-grow: 3; */
  flex-shrink: 3;
}
.container div:nth-child(4) {
  background-color: green;
  /* flex-grow: 1; */
}
.container div:nth-child(5) {
  background-color: blue;
  order: -1;
}
.container div:last-child {
  background-color: darkcyan;
}
