* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  height: 700px;
  border: 2px double darkcyan;
  flex-direction: column;
  /* flex-direction: row;
  flex-wrap: wrap-reverse; */
  justify-content: space-around;
}

.container div {
  width: 120px;
  height: 100px;
  border: 2px dashed black;
  /* display: inline-block; */
}

.container div:first-child {
  background-color: red;
}
.container div:nth-child(2) {
  background-color: orange;
}
.container div:nth-child(3) {
  background-color: yellow;
}
.container div:nth-child(4) {
  background-color: green;
}
.container div:nth-child(5) {
  background-color: blue;
}
.container div:last-child {
  background-color: darkcyan;
}
