* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  height: 400px;
  border: 2px double darkcyan;
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  align-items: baseline;
}

.container div {
  width: 120px;
  /* height: 100px; */
  border: 2px dashed black;
  /* display: inline-block; */
}

.container div:first-child {
  background-color: red;
}
.container div:nth-child(2) {
  background-color: orange;
}
.container div:nth-child(3) {
  background-color: yellow;
  font-size: 30px;
}
.container div:nth-child(4) {
  background-color: green;
  height: 80px;
}
.container div:nth-child(5) {
  background-color: blue;
  height: 60px;
}
.container div:last-child {
  background-color: darkcyan;
}
