/* position : 요소들이 어떻게 배치될 것인가?
    - 기본 배치 방식은 태그 작성 순서, 요소의 속성(block, inline) 따라감
    - position: static; (기본값)
    - position: fixed;
      1) 기준: viewport
      2) 위치 : 화면의 좌측 상단 기본값
                위치 지정 필요 : top, bottom, left, right 
      3) 스크롤에 영향 받지 않음
      
    - position: relative;
      1) 기준 : 원래 있던 위치
      2) 위치 : 위치 지정 필요 : top, bottom, left, right
      3) 다른 요소에 영향 주지 않음

    - position: absolute;
      1) 기준 : viewport(지정하지 않는 경우)
                static 이 아닌 부모 요소 지정하면 기준이 변경됨
                부모요소는 대부분 position: relative; 로 사용
      2) 위치 : top, bottom, left, right
      3) 부모 요소를 기준으로 배치

    - position : sticky
      1) 기준 : 스크롤 영역
      2) 위치 : top, bottom, left, right
    
    - z-index : 요소 쌓임 순서 지정
      - static 인 경우는 태그 작성 순서
      - static 을 제외한 position 속성을 가지고 있는 경우 : 해당 요소가 가장 위에 쌓임
      - position 속성의 값이 모두 존재시 z-index 속성의 값이 높을수록 위에 쌓임
      - position 속성의 값이 모두 존재, z-index 값도 동일하다면 태그 작성 순서

*/

.grand-parent {
  width: 800px;
  height: 500px;
  border: 2px dashed lightgray;
}
.parent {
  width: 500px;
  height: 400px;
  border: 2px dashed gray;
}

.child {
  width: 100px;
  height: 100px;
  background-color: tomato;
  font-size: 30px;
  border: 1px solid black;
}

.fixed {
  position: fixed;
  right: 100px;
  bottom: 100px;
}
