/* slide
    border
    width 800, height 300
    가운데 정렬
    안쪽여백 10
*/
.slide {
  border: 2px solid green;
  width: 800px;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}
.slide img {
  width: 400px;
  height: 300px;
  float: left;
}

/* 
    a
    배경색 #333
    줄높이 50
    글자색 흰색
*/
.controls a {
  background-color: #333;
  line-height: 50px;
  color: white;
  position: absolute;
  top: calc(50% - 25px);
  white-space: nowrap;
}
.prev {
  right: 100%;
}
.next {
  left: 100%;
}
