.box-group {
  position: relative;
}
.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  position: absolute;
}
.box1 {
  background-color: red;
  left: 50px;
  top: 50px;
  z-index: 20;
}
.box2 {
  background-color: yellow;
  left: 100px;
  top: 70px;
  z-index: 10;
}
.box3 {
  background-color: green;
  left: 70px;
  top: 110px;
}
