/* 
    자식 : 특정 요소 바로 밑에 존재하는 태그요소
     - ex) html 자식 : heead, body
    자손 : 자식 + 손주
     - ex) html 자손 : heead, body, meta, title, link, ul, li, ul... 
*/
/* 6. 자손 결합자 : 부모요소' '(공백)자손요소
*/
.outer li {
  color: olivedrab;
}

/* 7. 자식 결합자 : >
 */
.outer > li {
  color: dodgerblue;
}
/* 자식의 자손 */
.outer > li li {
  text-decoration: underline;
}

/* 8. 형제 결합자 : ~, +
 ~ : 뒤따르는 모든 요소들
 + : 뒤따르는 다음 요소만(하나)
 */
.starter ~ li {
  font-style: italic;
}
.starter + li {
  font-weight: bold;
}

/* 9. 가상 클래스 : 특정 상황을 가정하고 이름을 붙임
 - ':'(콜론) 사용
 :first-child
 :last-child
 :nth-child(n) : n번째에 해당하는 자손 요소 선택
 :nth-child(2n) : 2의 배수 자손 요소 선택
 :nth-child(even) : 짝수에 해당하는 자손 요소 선택
 :nth-child(odd) : 홀수에 해당하는 자손 요소 선택
 :nth-child(2n+1) : 홀수에 해당하는 자손 요소 선택
 :hover : 마우스가 오버될 때(커서를 갖다 댈때)

 a:link => 방문하지 않은 링크에 스타일 적용
 a:visited => 방문한 링크에 스타일 적용
 a:active => 요소를 활성화 했을 때 스타일 적용
*/
ol li:first-child,
ol li:last-child {
  color: yellowgreen;
}

.outer > li:not(:last-child) {
  text-decoration: line-through;
}

ol li:nth-child(3) {
  font-weight: bold;
  color: deeppink;
}
/* ol li:nth-child(2n) {
  background-color: antiquewhite;
} */
/* ol li:nth-child(odd) {
  background-color: antiquewhite;
} */
/* ol li:nth-child(even) {
  background-color: antiquewhite;
} */
ol li:nth-child(2n + 1) {
  background-color: antiquewhite;
}

li:hover {
  font-weight: bold;
  color: blue;
}

div a:link {
  text-decoration: none;
  color: black;
}
div a:active {
  color: black;
}
div a:visited {
  color: black;
}
div a:hover {
  text-decoration: underline;
}
